*{
  /* Rubah */
  padding: 0;
  margin: 0;

}
nav {
  padding: 20px 40px; /* Rubah */
  background-color: white;  /* Rubah */
}
nav a {
  color: black; /* Rubah */
  text-decoration: none;
  padding: 10px 20px;
}
nav .active,
nav a:hover {
  background: #0b6b3a;
  border-radius: 15px; /* Rubah */
  color: wheat; /* Rubah */
  transition: 0.6s linear;
}

/* ID Selector */
#intro {
  background-color: #0b6b3a;
  min-height: 100px;
  padding: 20px 40px;
}
#intro h1 {
  text-align: left;
  border: 0;
  color: #fff;
}
/* Class Selector */
.button {
  padding: 15px 20px;
  background: #bebcbd;
  color: #fff;
  display: inline-block;
  margin-top: 15px; /* Rubah */
  border-radius: 25px; /* Rubah */
  text-decoration: none;
}
.btn-primary {
  background-color: wheat;
  color: #0b6b3a;
}

.btn-primary:hover{
  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
}

.univ{
  background: url(/img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  column-gap: 80px;
  display: flex;
  padding: 20px 40px;
  align-items: center;
  min-height: 100vh;
}

.univ .informasi-univ h3 p{
  font-weight: 1500;
}

